@model Product
@{
    ViewData["Title"] = Model.ProductName + "- Ürün Detayları";
}

<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page"><a asp-controller="Product" asp-action="Index">Ürünler</a></li>
                <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
            </ol>
        </div><!-- End .container -->
    </nav>

    <div class="container  " style="margin-top:30px">
        <div class="product-single-container product-single-default">
            <div class="row">
                <div class="col-lg-4 product-single-gallery">
                    <div class="sticky-slider">
                        <div class="product-slider-container product-item">
                            <div class="product-item img-thumbnail img-rounded">
                                <img class="product-single-image" src="@Model.Image" />
                                @(Model.DiscountRatio > 0 ? Html.Raw("<span class='product-label label-sale'> - " + @String.Format(System.Globalization.CultureInfo.GetCultureInfo("tr-TR"), "{0:N0}", Model.DiscountRatio * 100) + " %</span>") : Html.Raw(""))

                            </div>
                        </div>
                    </div>
                </div><!-- End .col-md-6 -->

                <div class="col-lg-8">
                    <div class="product-single-details">
                        <h1 class="product-title" style="font-size: 2.8rem;">@Model.ProductName</h1>
                        <div class="ratings-container">
                            <div class="product-ratings">
                                <span class="ratings" style="width:90%"></span><!-- End .ratings -->
                            </div><!-- End .product-ratings -->
                        </div><!-- End .product-container -->
                        <div class="price-box">
                            <span class="old-price" style="@(Model.DiscountRatio <=0 ?"display:none":"")">@String.Format(System.Globalization.CultureInfo.GetCultureInfo("tr-TR"), "{0:N2}", Model.Price)  ₺</span>
                            <span class="product-price" style="@(Model.DiscountRatio <=0 ?" margin-left: 0px !important;":"")" > @String.Format(System.Globalization.CultureInfo.GetCultureInfo("tr-TR"), "{0:N2}", Model.Price - (Model.Price * Convert.ToDouble(Model.DiscountRatio)))  ₺</span>
                        </div><!-- End .price-box -->
                        <div class="product-desc">
                            <p>@(String.IsNullOrEmpty(Model.ShortDescription) ? "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis nulla odio. Mauris ligula leo, rutrum sit amet diam id, mollis mattis ex. Nam non erat nibh." : Model.ShortDescription)</p>
                        </div><!-- End .product-desc -->

                        <div class="product-action">
                            <div class="product-single-qty">
                                <input class="horizontal-quantity form-control" type="text">
                            </div><!-- End .product-single-qty -->
                            <a href="cart.html" class="paction add-cart" title="Add to Cart">
                                <span>Sepete Ekle</span>
                            </a>
                        </div><!-- End .product-action -->
                    </div><!-- End .product-single-details -->
                </div><!-- End .col-md-6 -->
            </div><!-- End .row -->
        </div><!-- End .product-single-container -->
        <div class="product-single-tabs">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="product-tab-desc" data-toggle="tab" href="#product-desc-content" role="tab" aria-controls="product-desc-content" aria-selected="true">Açıklama</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="product-desc-content" role="tabpanel" aria-labelledby="product-tab-desc">
                    <div class="product-desc-content">
                        <p class="font-weight-bold">@Model.ProductName</p>

                        <p>@(String.IsNullOrEmpty(Model.Description) ? "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis nulla odio. Mauris ligula leo, rutrum sit amet diam id, mollis mattis ex. Nam non erat nibh." : Model.Description)</p>

                    </div><!-- End .product-desc-content -->
                </div><!-- End .tab-pane -->

            </div><!-- End .tab-content -->
        </div><!-- End .product-single-tabs -->
    </div><!-- End .container -->


    @await Component.InvokeAsync("FeaturedProductOnDetails")
</main><!-- End .main -->

@section scripts {

    <script>
        $(document).ready(function () {
        });
    </script>
}