@model IEnumerable<Product>
@{
    ViewData["Title"] = "Arama Sonuçları";
}
<style>
    .page_404 {
        padding: 40px 0;
        background: #fff;
        font-family: "Arvo", serif;
    }

        .page_404 img {
            width: 100%;
        }

    .four_zero_four_bg {
        background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
        height: 400px;
        background-position: center;
    }

        .four_zero_four_bg h1 {
            font-size: 80px;
        }

        .four_zero_four_bg h3 {
            font-size: 80px;
        }

    .link_404 {
        color: #fff !important;
        padding: 10px 20px;
        background: #39ac31;
        margin: 20px 0;
        display: inline-block;
    }

    .contant_box_404 {
        margin-top: -50px;
    }
</style>
<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-0">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
            </ol>
        </div><!-- End .container -->
    </nav>
    <div class="container">


        @if (Model.Count() > 0)
        {<nav class="toolbox">
                <div class="toolbox-left">
                    <div class="toolbox-item toolbox-sort">
                        <label style="font-weight:600"> "@ViewBag.Query" Arama Sonuçları Aşağıdadır. Toplam <span style="font-weight:bold">@Model.Count() </span> sonuç bulundu.</label>
                    </div><!-- End .toolbox-item -->
                </div><!-- End .toolbox-left -->
                <div class="toolbox-item toolbox-show">
                    <label>Gösteriliyor : </label>
                    <div class="select-custom">
                        <select name="count" class="form-control">
                            <option value="9">6 Ürün</option>
                            <option value="18">12 Ürün</option>
                            <option value="27">18 Ürün</option>
                        </select>
                    </div><!-- End .select-custom -->
                </div><!-- End .toolbox-item -->
                <div class="layout-modes">
                    <a href="category.html" class="layout-btn btn-grid active" title="Grid">
                        <i class="icon-mode-grid"></i>
                    </a>

                </div><!-- End .layout-modes -->
            </nav>

        }

        @if (Model.Count() > 0)
        {
            <div class="product-wrapper">
                <div class="row row-sm category-grid">
                    @foreach (var item in Model)
                    {
                        <div class="col-6 col-md-4 col-xl-3">
                            <div class="grid-product">
                                <figure class="product-image-container">
                                    <a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id" class="product-image">
                                        <img src="@item.Image" alt="product">
                                    </a>
                                    <a href="ajax/product-quick-view.html" class="btn-quickview">Ürüne Bak</a>
                                  @*<span class="product-label label-hot">Hot</span>*@
                                </figure>
                                <div class="product-details">
                                    <div class="ratings-container">
                                        <div class="product-ratings">
                                            <span class="ratings" style="width:90%"></span><!-- End .ratings -->
                                        </div><!-- End .product-ratings -->
                                    </div><!-- End .product-container -->
                                    <h2 class="product-title">
                                        <a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id"> @item.ProductName</a>
                                    </h2>
                                    <div class="price-box">
                                        <span class="product-price">  @String.Format(System.Globalization.CultureInfo.GetCultureInfo("tr-TR"), "{0:N2}", item.Price)  ₺</span>
                                    </div><!-- End .price-box -->
                                    <div class="product-grid-action">                                  
                                        <a href="/" class="paction add-cart" title="Add to Cart">
                                            <span>Sepete ekle</span>
                                        </a>                                        
                                    </div><!-- End .product-grid-action -->
                                </div><!-- End .product-details -->
                            </div><!-- End .grid-product -->
                        </div><!-- End .col-xl-3 -->
                
            }
                </div><!-- End .row -->
            </div>
        }
        else
        {
            <section class="page_404">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 ">
                            <div class="col-sm-10 col-sm-offset-1  text-center">
                                <div class="four_zero_four_bg">
                                    <h1 class="text-center ">Sonuç Bulunamadı</h1>
                                </div>

                                <div class="contant_box_404">
                                    <a href="/" class="link_404">Anasayfa</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }


        @if (Model.Count() > 0)
        {
            <nav class="toolbox toolbox-pagination">

                <ul class="pagination">
                    <li class="page-item disabled">
                        <a class="page-link page-link-btn" href="#"><i class="icon-angle-left"></i></a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><span class="page-link">...</span></li>
                    <li class="page-item">
                        <a class="page-link page-link-btn" href="#"><i class="icon-angle-right"></i></a>
                    </li>
                </ul>
            </nav>
        }
    </div><!-- End .container -->
    <div class="mb-5"></div><!-- margin -->
</main><!-- End .main -->>
