@model IEnumerable<Address>
@{
    Layout = "_LayoutUser";
    ViewData["Title"] = "Adreslerim";
}
<style>
    .m-option .m-option__label .m-option__head .m-option__title {
        width: auto !important;
        font-weight: 500;
    }

    .m-option .m-option__label .m-option__head .m-option__focus {
        font-size: 0.8rem;
        font-weight: 400;
        float: right;
        color: #509057
    }

    .m-option .m-option__label .m-option__body {
        font-size: 1rem !important;
    }
</style>
<link href="~/assets/css/sweetalert.css" rel="stylesheet" />

<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <!-- END: Subheader -->
    <div class="m-content">
        <div class="row">
            @await Component.InvokeAsync("ProfileNav")


            <div class="col-xl-9 col-lg-7 m--margin-bottom-10-mobile" style="margin-top:-50px">
                <div class="m-portlet m-portlet--creative m-portlet--bordered-semi">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h2 class="m-portlet__head-label m-portlet__head-label--focus">
                                    <span>
                                        Adreslerim
                                    </span>
                                </h2>
                            </div>
                        </div>
                        <a asp-action="NewAddress" class="pull-right btn btn-outline-success btn-sm">
                            Yeni Ekle
                        </a>
                    </div>
                    <!--begin::Form-->
                    <div class="m-portlet__body">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group">
                                <div class="row">
                                    @foreach (var item in Model)
                                    {
                                        <div id="address_@item.Id" class="col-lg-6 m--margin-top-20">
                                            <div class="m-option" style="@(item.IsDefault==false?"border: 1px solid #cecece;":"border: 1px solid #9816f4")">

                                                <div class="m-option__label">
                                                    <span class="m-option__head">
                                                        <span class="m-option__title">
                                                            @item.AddressName
                                                        </span>
                                                        <span class="m-option__focus">
                                                            @item.Branch
                                                        </span>
                                                    </span>
                                                    <span class="m-option__body">
                                                        @item.AddressDefination
                                                    </span>
                                                    <span class="m-option__focus">
                                                        @item.District / @item.City @item.Country
                                                    </span>
                                                    <div class="m--margin-top-10">
                                                        <a id="deleteAddress" data-id="@item.Id" class="btn btn-outline-danger btn-sm">
                                                            Sil
                                                        </a>
                                                        <a asp-action="EditAddress" asp-route-Id="@item.Id" class="btn btn-outline-info btn-sm">
                                                            Düzenle
                                                        </a>
                                                        @if (item.IsDefault == false)
                                                        {
                                                            <a asp-action="MakeDefault" asp-route-Id="@item.Id" class="pull-right btn btn-outline-primary btn-sm">
                                                                Varsayılan yap
                                                            </a>
                                                        }
                                                        else
                                                        {

                                                        }

                                                    </div>

                                                </div>

                                            </div>

                                        </div>
                                    }


                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::Form-->
                </div>
                <!--end::Portlet-->
            </div>


        </div>
    </div>


</div>

@section scripts {

    <script src="~/assets/js/jquery.validate.min.js"></script>
    <script src="~/assets/js/sweetalert.min.js"></script>
    <script src="~/assets/js/ui-sweetalert.min.js"></script>
    <script>

        $(document).on("click", "#deleteAddress", function () {

            var addressId = $(this).attr("data-id");
            swal({
                title: "Silmek İstediğinizden Emin Misiniz ? ",
                text: "Eğer Onaylarsanız, Ürün Silinecektir!",
                type: "error",
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Evet, Sil',
                closeOnConfirm: false,
                cancelButtonText: 'Vazgeç',

            },
                function (isConfirm) {

                    if (isConfirm) {
                        $.ajax({
                            type: "GET",
                            url: "/Manage/DeleteAdreess",
                            data: { Id: addressId },
                            dataType: 'json',
                            success: function (data) {
                                console.log("Başarılı");
                                if (data == "ok") {
                                    $('#address_' + addressId + '').css("display", "none");
                                    swal("Silindi !", "Ürün Başarıyla Silindi !", "success");
                                } else {
                                    swal("Silinemedi !", "Silinirken Bir Hata Oluştu !", "error");
                                }

                            }
                        });


                    }

                });

        });
    </script>
}